Hochschule Studienanfänger

In [ ]:
# Laden der Bibliotheken 
import pandas as pd

In [ ]:
# Laden der CSV-Datei
quote = pd.read_csv("0Studienanfängerquote.csv", delimiter= ';', skiprows=6)
quote.head()

In [ ]:
quote.info()

In [ ]:
# Anzeigen der Spaltennamen

print(quote.columns.tolist())

In [ ]:
# Löschen von Spalten
quote = quote.drop(columns=['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6'])
quote

In [ ]:
# Nichtrelevante Zeilen löschen 
quote = quote.drop(index =[24, 25, 26])
quote

In [ ]:
# Spalteennamen umbenennen 
quote = quote.rename(columns={'Unnamed: 0': 'Jahr', 'männlich': 'Männlich', 'weiblich': 'Weiblich', 'Insgesamt': 'Insgesamt'})
quote

Alternativ: 
quote[spalten] = quote[spalten].apply(lambda col: pd.to_numeric(col.astype(str).str.strip().str.replace(',', '.', regex=False), errors='coerce'))

In [ ]:
# Float umwandeln 
spalten = ['Männlich', 'Weiblich', 'Insgesamt']
quote[spalten] = (quote[spalten].astype(str).replace(',', '.', regex=True).apply(pd.to_numeric, errors='coerce'))
quote

In [ ]:

quote.info()

In [ ]:
quote

In [ ]:
# Filtern nach Jahr ab 2010
quote_jahr = quote.copy()
quote_jahr = quote_jahr[quote_jahr['Jahr'] >= '2010']
quote_jahr

In [ ]:
# New DateFrame

daten = []

for _, row in quote_jahr.iterrows():
    jahr = row.iloc[0]
    
    # Männlich
    daten.append({
        'Jahr': jahr,
        'Geschlecht': 'Männlich',
        'Quote': row.iloc[1],
       
    })
    
    # Weiblich
    daten.append({
        'Jahr': jahr,
        'Geschlecht': 'Weiblich',
        'Quote': row.iloc[2],
       
    })
    
     # Insgesamt
    daten.append({
        'Jahr': jahr,
        'Geschlecht': 'Insgesamt',
        'Quote': row.iloc[3],
       
    })
   

quote_neu = pd.DataFrame(daten)

display(quote_neu.head(10))
display(quote_neu.tail(10))

In [ ]:
# # Datentypen korrigieren, Integer umwandeln 
quote_neu['Jahr'] = pd.to_numeric(quote_neu['Jahr'], errors='coerce').astype(int)
quote_neu.info()

In [ ]:
# Speichern der Datei als CSV
quote_neu.to_csv('Studienanfaengerquote_neu.csv', sep=';', index=False, encoding='utf-8-sig')