Schulabgänger Deutschland

In [ ]:
# Laden der Bibliotheken 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
# Laden der CSV-Dateien

abgaenger = pd.read_csv("0Schulabgänger_Deutschland.csv", delimiter= ';', skiprows=4, encoding='utf-8-sig')
abgaenger

In [ ]:
# Spaltennamen
print(abgaenger.columns.tolist())

In [ ]:
# Löschen von Spalten
abgaenger = abgaenger.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 7'])
abgaenger.head(6)

In [ ]:
print(abgaenger.columns.tolist())

In [ ]:
# Spaltennamen umbenennen
abgaenger = abgaenger.rename(columns={
    'Deutschland': 'Geschlecht', 
    'Unnamed: 1': 'Schuljahr', 
    'Unnamed: 2': 'Anzahl_Schüler', 
    'Unnamed: 6': 'Absolventen_und_Abgänger', 
    })

abgaenger.info()

In [ ]:
# Datentypen ändern 
abgaenger[['Anzahl_Schüler', 'Absolventen_und_Abgänger']] = abgaenger[['Anzahl_Schüler', 'Absolventen_und_Abgänger']].apply(pd.to_numeric, errors='coerce').astype('Int64')

In [ ]:
abgaenger.info()

In [ ]:
abgaenger.head(50)

#Alternativ-Code zum Umbenennen einiger Zeilen in einer bestimmten Spalte

Alternativ mit .loc und .isna kombiniert:
abgaenger.loc[abgaenger.index.isin(range(3, 29)) & df['Geschlecht'].isna(), 'Geschlecht'] = 'männlich'

In [ ]:
# Umbenennen der nan-Werte zu 'männlich'

for i in range(3,29):
    if pd.isna(abgaenger.loc[i, 'Geschlecht']):
        abgaenger.loc[i, 'Geschlecht'] = 'männlich'

abgaenger.head(50)

In [ ]:
abgaenger.tail(50)

In [ ]:
# Umbenennen der nan-Werte zu 'weiblich'

for i in range(30,56):
    if pd.isna(abgaenger.loc[i, 'Geschlecht']):
        abgaenger.loc[i, 'Geschlecht'] = 'weiblich'

abgaenger.tail(50)

In [ ]:
abgaenger.head(50)

In [ ]:
# Umbenennen der nan-Werte zu 'insgesamt'

for i in range(57,83):
    if pd.isna(abgaenger.loc[i, 'Geschlecht']):
        abgaenger.loc[i, 'Geschlecht'] = 'Insgesamt'

abgaenger.tail(50)

In [ ]:
# Löschen von Zeilen 
abgaenger = abgaenger.drop(index =[83,84,85])
abgaenger.tail()

In [ ]:
abgaenger.head()

In [ ]:
# Löschen der ersten Zeilen 
abgaenger = abgaenger.drop(index =[0,1])
abgaenger.head()

In [ ]:
# Löschen von nicht bedeutsamen Zeilen für das Datafrane 
abgaenger = abgaenger.drop(index =[28, 55,82])
abgaenger.head(50)

In [ ]:
abgaenger.tail(50)

In [ ]:
abgaenger_neu = abgaenger.copy()
abgaenger_neu = abgaenger_neu[abgaenger_neu['Schuljahr'] >= '2009/10']
abgaenger_neu

In [ ]:
# Speichern der Datei als CSV
abgaenger_neu.to_csv('Abgaenger_allgemein.csv', sep=';', index=False, encoding='utf-8-sig')