Allgemeine Schulen - Absolventen und Abgänger

In [ ]:
# Laden der Bibliotheken 
import pandas as pd
import numpy as np

In [ ]:
# Laden der CSV-Dateie

abschlusse = pd.read_csv('1Schulabsolventen-und-Abgänger.csv', delimiter= ';', skiprows=5, encoding='utf-8-sig')
abschlusse

In [ ]:
abschlusse_copy = abschlusse.copy()
abschlusse_copy

In [ ]:
# leere Spalten löschen 

# Spalten ab Index 3 betrachten und ungerade Indexe ermitteln
loeschende_spalten = [
    abschlusse_copy.columns[i]
    for i in range(3, len(abschlusse_copy.columns))
    if i % 2 == 1
]

# Löschen der entsprechenden Spalten
abschlusse_copy.drop(columns=loeschende_spalten, inplace=True)

# Ergebnis anzeigen
abschlusse_copy.head(5)

In [ ]:
# Letzten Zeilen löschen 
abschlusse_copy = abschlusse_copy.drop(index =[88, 89, 90, 91])
abschlusse_copy.tail(3)

In [ ]:
# Variablen (Jahre, Schulart, Schulabschluss, Geschlecht) extrahieren aus der Datei

jahre = abschlusse_copy.loc[1].dropna().tolist()
print(jahre)

In [ ]:
# Schulart

##alternativ
# schulart = abschlusse_copy[abschlusse_copy['Absolventen und Abgänger (Anzahl)'].notnull()]
# schulart = schulart['Absolventen und Abgänger (Anzahl)'].to_list()

##alternativ
# schulart = abschlusse_copy['Absolventen und Abgänger (Anzahl)'].dropna().values

schulart = abschlusse_copy['Absolventen und Abgänger (Anzahl)'].dropna().tolist()
print(schulart)

In [ ]:
# Schulabschlüsse

schulabschluss = abschlusse_copy['Unnamed: 1'].drop_duplicates().dropna().to_list()
print(schulabschluss)

In [ ]:
# Geschlecht
geschlecht = ['männlich', 'weiblich', 'Insgesamt']
print(geschlecht)

Alternativ zum Einfügen der Schularten in die Zellen:

for i in range(14):  # 14 Blöcke, also 0 bis 13
    start = 5 + i * 6
    end = start + 4  # 5 Zahlen: z.B. 5–9, 11–15, ...
    mask = abschlusse_copy.index.isin(range(start, end + 1)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna()
    abschlusse_copy.loc[mask, 'Absolventen und Abgänger (Anzahl)'] = schulart[i]

In [ ]:
# Einfügen der Schularten in die Zellen 

abschlusse_copy.loc[abschlusse_copy.index.isin(range(5, 10)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[0]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(11, 16)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[1]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(17, 22)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[2]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(23, 28)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[3]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(29, 34)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[4]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(35, 40)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[5]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(41, 46)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[6]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(47, 52)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[7]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(53, 58)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[8]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(59, 64)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[9]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(65, 70)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[10]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(71, 76)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[11]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(77, 82)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[12]
abschlusse_copy.loc[abschlusse_copy.index.isin(range(83, 88)) & abschlusse_copy['Absolventen und Abgänger (Anzahl)'].isna(), 'Absolventen und Abgänger (Anzahl)'] = schulart[-1]
abschlusse_copy.head(15)

In [ ]:
# Transponieren des Dataframes 
abschlusse_copy = abschlusse_copy.copy()
abschluss_t = abschlusse_copy.set_index(abschlusse_copy.columns[0]).T
abschluss_t

In [ ]:
# Spaltennamen 
print(abschluss_t.columns.tolist())

In [ ]:
abschluss_t.columns[0]

In [ ]:
# Reset Index
abschluss_t.reset_index(drop= True, inplace=True)
abschluss_t

In [ ]:
# # Test Spaltennamen 
print(abschluss_t.columns[0])
print(abschluss_t.columns[1])
print(abschluss_t.columns[2])
print(abschluss_t.columns[3])
print(abschluss_t.columns[4])
print(abschluss_t.columns[5])

In [ ]:
# Spaltennamen umbenennen
abschluss_t.columns.values[0] = 'Schuljahr_Test'
abschluss_t.columns.values[1] = 'Schuljahr'
abschluss_t.columns.values[2] = 'Geschlecht_Test'
abschluss_t.columns.values[3] = 'Geschlecht'
abschluss_t

In [ ]:
# Spalten löschen 

abschluss_t = abschluss_t.drop(columns=['Schuljahr_Test', 'Geschlecht_Test'])
abschluss_t

Alternativ zum Einfügen der Jahre in die Zellen: 

Gehe alle Jahrgänge in der Liste durch
for i, jahr in enumerate(jahre):
    # Berechne Startindex für jeden 2er-Block (beginnt bei 2, dann 5, 8, ...)
    start_idx = 2 + i * 3
    end_idx = start_idx + 2  # exklusiv, also nur zwei Zeilen

    # Bedingung: Index im gewünschten Bereich & Schuljahr ist NaN
    mask = abschluss_t.index.isin(range(start_idx, end_idx)) & abschluss_t['Schuljahr'].isna()

    # Setze Schuljahr
    abschluss_t.loc[mask, 'Schuljahr'] = jahr

In [ ]:
# Jahre in einigen Zellen einfügen 
abschluss_t.loc[abschluss_t.index.isin(range(2, 4)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[0]
abschluss_t.loc[abschluss_t.index.isin(range(5, 7)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[1]
abschluss_t.loc[abschluss_t.index.isin(range(8, 10)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[2]
abschluss_t.loc[abschluss_t.index.isin(range(11, 13)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[3]
abschluss_t.loc[abschluss_t.index.isin(range(14, 16)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[4]
abschluss_t.loc[abschluss_t.index.isin(range(17, 19)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[5]
abschluss_t.loc[abschluss_t.index.isin(range(20, 22)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[6]
abschluss_t.loc[abschluss_t.index.isin(range(23, 25)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[7]
abschluss_t.loc[abschluss_t.index.isin(range(26, 28)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[8]
abschluss_t.loc[abschluss_t.index.isin(range(29, 31)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[9]
abschluss_t.loc[abschluss_t.index.isin(range(32, 34)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[10]
abschluss_t.loc[abschluss_t.index.isin(range(35, 37)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[11]
abschluss_t.loc[abschluss_t.index.isin(range(38, 40)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[12]
abschluss_t.loc[abschluss_t.index.isin(range(41, 43)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[13]
abschluss_t.loc[abschluss_t.index.isin(range(44, 46)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[14]
abschluss_t.loc[abschluss_t.index.isin(range(47, 49)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[15]
abschluss_t.loc[abschluss_t.index.isin(range(50, 52)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[16]
abschluss_t.loc[abschluss_t.index.isin(range(53, 55)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[17]
abschluss_t.loc[abschluss_t.index.isin(range(56, 58)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[18]
abschluss_t.loc[abschluss_t.index.isin(range(59, 61)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[19]
abschluss_t.loc[abschluss_t.index.isin(range(62, 64)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[20]
abschluss_t.loc[abschluss_t.index.isin(range(65, 67)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[21]
abschluss_t.loc[abschluss_t.index.isin(range(68, 70)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[22]
abschluss_t.loc[abschluss_t.index.isin(range(71, 73)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[23]
abschluss_t.loc[abschluss_t.index.isin(range(74, 76)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[24]
abschluss_t.loc[abschluss_t.index.isin(range(77, 79)) & abschluss_t['Schuljahr'].isna(),'Schuljahr' ] = jahre[-1]
abschluss_t.head(50)

In [ ]:
# Bindestriche durch Null ersetzen
abschluss_t = abschluss_t.replace('-', 0)
abschluss_t.head(10)

In [ ]:
# Zusammenfassen der Variablen
print("Jahre:", jahre)
print()
print("Schularten:", schulart)
print()
print("Schulabschlüsse:", schulabschluss)
print()
print("Geschlecht:", geschlecht)

Für Projekt:
{
    2022: [
        Hauptschule: {Ohne: [0, 0 ,0], ...}.
        ....
    ],
    2023: [
        Hauptschule: {Ohne: [0, 0 ,0], ...}.
        ....
    ],
}

haupt_dic = 

real_dic = 



Besser für Backend: 
{
    2022: [
        Hautschule: [ {m: [0, ...]}, {}].
        ....
    ],
    2023: [
        Hautschule: {Ohne: [0, 0 ,0], ...}.
        ....
    ],
}

 Alternativ
Transformieren der Daten vom Dataframe in ein Dictionary
abschluesse_detail = {}

for row in abschluss_t.itertuples(index=False):
 Zeile im Dataframe 
    if row.Schuljahr in jahre:
         print(row)
        break

for _, row in abschluss_t.iterrows():
 #print(row)
     if row['Schuljahr'] in jahre:
     print(row)

In [ ]:
# gefundene_zeilen = []

# for _, row in abschluss_t.iterrows():
#     if row['Schuljahr'] in jahre:
#         gefundene_zeilen.append(row.to_frame().T)  # <- Umwandlung pro Zeile

# # DataFrames zusammenfügen
# ergebnis_df = pd.concat(gefundene_zeilen, ignore_index=True)
# ergebnis_df

In [ ]:
# Daten extrahieren und in das neue Dataframe einfügen


# # for  _, row in abschluss_t.iterrows(): # '_' = Index der Spalten
# #     # print(_)
# #     if row['Schuljahr'] in jahre:
# #         print(row)
# #         break

In [ ]:
# Test für Hauptschulen

# item = []

# for _, row in abschluss_t.iterrows():
#     jahr = row.iloc[0]
#     if jahr in jahre:
#         item.append([row.iloc[i] for i in range(0, 8)])

# print(item)

In [ ]:
# Test für Hauptschulen

# daten = []

# for i in item:
#     counter = 0
#     for k in range(2, 8):
#         dic = {
#             'Schuljahr': i[0],
#             'Schulart': schulart[0],
#             'Schulabschluss': schulabschluss[counter],
#             'Geschlecht': i[1],
#             'Anzahl': i[k]
#         }
#         daten.append(dic)
#         counter +=1

# hauptschulen = pd.DataFrame(daten)
# display(hauptschulen.head(12))
# display(hauptschulen.tail(12))

In [ ]:
# Test für Hauptschulen

# daten = []

# for _, row in abschluss_t.iterrows():
#     jahr = row.iloc[0]
#     if jahr in jahre:
#         geschlecht = row.iloc[1]
#         for counter, k in enumerate(range(2, 8)): # enumerate(range(8, 14))
#             dic = {
#                 'Schuljahr': jahr,
#                 'Schulart': schulart[0],
#                 'Schulabschluss': schulabschluss[counter],
#                 'Geschlecht': geschlecht,
#                 'Anzahl': row.iloc[k]
#             }
#             daten.append(dic)

# hauptschulen = pd.DataFrame(daten)
# display(hauptschulen.head(12))
# display(hauptschulen.tail(12))

In [ ]:
# New DateFrame

daten = []

for _, row in abschluss_t.iterrows():
    jahr = row.iloc[0]
    if jahr in jahre:
        geschlecht = row.iloc[1]
        art = 0 # Index - Schulart-Liste
        for start in range(2, 86, 6):
            end = min(start + 6, 87)
            counter = 0 # Index - Schulabschluss-Liste
            for right in range(start, end):
                # print(start, end, right)
                dic = {
                'Schuljahr': jahr,
                'Schulart': schulart[art],
                'Schulabschluss': schulabschluss[counter],
                'Geschlecht': geschlecht,
                'Anzahl': row.iloc[right]
                }
                if dic not in daten: # oder => abschlusse_neu.drop_duplicates(inplace=True)
                    daten.append(dic)
                    counter += 1
            art +=1

abschlusse_neu =  pd.DataFrame(daten)
#abschlusse_neu.drop_duplicates(inplace=True)

# Nach ['Schuljahr', 'Schulart'] sortieren
# abschlusse_neu = abschlusse_neu.sort_values(by=['Schuljahr', 'Schulart'], ascending=[True, True])

# Schulart-Liste als kategorisch mit definierter Reihenfolge setzen
abschlusse_neu['Schulart'] = pd.Categorical(
    abschlusse_neu['Schulart'],
    categories=schulart,
    ordered=True
)

display(abschlusse_neu.head(12))
display(abschlusse_neu.tail(12))

In [ ]:
# Filter ab Schuljahr 2009/10

abschlusse_neu = abschlusse_neu[abschlusse_neu['Schuljahr'] >= '2009/10']
abschlusse_neu

In [ ]:
# Speischern der Datei
abschlusse_neu.to_csv("Schulabsolventen_und_Abgaenger_Deutschland-alle-Werte.csv", sep=';', index=False, encoding='utf-8-sig')