In [ ]:
# Bibliotheke
import pandas as pd

In [ ]:
# CSV
self_rated =pd.read_excel(r"Self_Rated_Mental_Health_Age_Group_Exc.xlsx")

In [ ]:
# DF
self_rated.head(50)

In [ ]:
# Spalten löschen
cols = ['Unnamed: 0','Unnamed: 1','Unnamed: 2']

self_rated.drop(columns=cols, inplace=True) 
self_rated.head()

In [ ]:
self_rated.loc[self_rated.index.isin(range(2, 5)) & self_rated['Unnamed: 3'].isna(), 'Unnamed: 3'] = '18-29 years'
self_rated.loc[self_rated.index.isin(range(6, 9)) & self_rated['Unnamed: 3'].isna(), 'Unnamed: 3'] = '30-44 years'
self_rated.loc[self_rated.index.isin(range(10, 13)) & self_rated['Unnamed: 3'].isna(), 'Unnamed: 3'] = '45-64 years'
self_rated.loc[self_rated.index.isin(range(14, 17)) & self_rated['Unnamed: 3'].isna(), 'Unnamed: 3'] = '65+ years'
self_rated

In [ ]:
self_rated.drop(index= [1,5,9,13], inplace=True)
self_rated

In [ ]:
self_rated_copy=self_rated.copy()
self_rated_t = self_rated_copy.set_index(self_rated_copy.columns[0]).T
self_rated_t

In [ ]:
self_rated_t.columns

In [ ]:
self_rated_t.reset_index(drop=True, inplace=True)
self_rated_t

In [ ]:
self_rated_t.columns.values[0]= 'Datum'
self_rated_t

In [ ]:
# New DateFrame

daten = []

for _, row in self_rated_t.iterrows():
    jahr = row.iloc[0]
    
    # Fit
    daten.append({
        'Datum': jahr,
        'Wert': 'FIT',
        '18-29': row.iloc[1],
        '30-44': row.iloc[4],
        '45-64': row.iloc[7],
        '+65':   row.iloc[10],
       
    })
    
    # Maximum FIT 
    daten.append({
        'Datum': jahr,
        'Wert': 'Maximum Fit',
        '18-29': row.iloc[2],
        '30-44': row.iloc[5],
        '45-64': row.iloc[8],
        '+65':   row.iloc[11],
       
    })
    
     # Minimum Fit
    daten.append({
        'Datum': jahr,
        'Wert': 'Minimum FIT',
        '18-29': row.iloc[3],
        '30-44': row.iloc[6],
        '45-64': row.iloc[9],
        '+65':   row.iloc[12],
       
    })
   

self_rated_neu = pd.DataFrame(daten)
self_rated_neu.drop(index=[0,1,2], inplace= True)
display(self_rated_neu.head(10))
display(self_rated_neu.tail(10))

In [ ]:
self_rated_neu.info()

In [ ]:
# Datentypen ändern'
# cols = ['18-29', '30-44', '45-64', '+65']
# self_rated_neu[cols] = self_rated_neu[cols].apply(pd.to_numeric, errors='coerce').astype('float')

# self_rated_neu['Datum'] = pd.to_datetime(self_rated_neu['Datum'], errors='coerce').dt.strftime('%d.%m.%Y')
# self_rated_neu.info()

In [ ]:
self_rated_neu.head()

In [ ]:
self_rated_neu = self_rated_neu.round(2)
print(self_rated_neu)

In [ ]:
self_rated_neu.head()

In [ ]:
#Als CSV speichern
self_rated_neu.to_csv('self_rated_sym_altersgruppen.csv', index=False, sep=';', encoding='utf-8-sig')