In [ ]:
# Bibliotheke
import pandas as pd

In [ ]:
# CSV
arbeitslos = pd.read_csv('13231-0002_de.csv', delimiter=';', skiprows=7, encoding='utf-8-sig')

In [ ]:
# DF
arbeitslos.head()

In [ ]:
# Spalten löschen

cols = [
    arbeitslos.columns[i]
    for i in range(3, len(arbeitslos.columns))
    if i % 2 == 1
]

arbeitslos.drop(columns=cols, inplace=True)

In [ ]:
# DF
arbeitslos.head()

In [ ]:
# Spalten löschen

cols = [
    arbeitslos.columns[i]
    for i in range(11, len(arbeitslos.columns))
]

arbeitslos.drop(columns=cols, inplace=True)

In [ ]:
arbeitslos.head()

In [ ]:
arbeitslos.drop(columns=['Unnamed: 6', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16', 'Unnamed: 18'], inplace=True)

In [ ]:
arbeitslos.head()

In [ ]:
arbeitslos.tail(10)

In [ ]:
arbeitslos.drop(index=[26, 27, 28], inplace=True)
arbeitslos.tail()

In [ ]:
arbeitslos.head(50)

In [ ]:
# Aänderunen 2010 - 2025
# arbeitslos.loc[arbeitslos.index.isin(range(2, 13)) & arbeitslos['Unnamed: 0'].isna(), 'Unnamed: 0'] = 2024
# arbeitslos.loc[arbeitslos.index.isin(range(13, 26)) & arbeitslos['Unnamed: 0'].isna(), 'Unnamed: 0'] = 2025
# arbeitslos.head()

In [ ]:
altergruppe = ['15 bis unter 25 Jahre', '25 bis unter 75 Jahre']

In [ ]:
len(arbeitslos.columns)

In [ ]:
arbeitslos_copy = arbeitslos.copy()

In [ ]:
arbeitslos_copy.drop(index=[0, 1], inplace=True)
arbeitslos_copy.head()

In [ ]:
# New DateFrame

daten = []

for _, row in arbeitslos_copy.iterrows():
    jahr = row.iloc[0]
    monat = row.iloc[1]
    for start in range(2, len(arbeitslos_copy.columns), 2):
        end = min(start + 2, len(arbeitslos_copy.columns) + 1)
        index_altergruppe = 0
        for right in range(start, end):
            dic = {
                'Jahr': jahr,
                'Monat': monat,
                'Altergruppe': altergruppe[index_altergruppe],
                'Geschlecht': "männlich" if (right == 2) or (right == 3) else "weiblich",
                'Anzahl': row.iloc[right]
                }
            if dic not in daten:
                daten.append(dic)
                index_altergruppe += 1

arbeitslos_neu_bereinigt =  pd.DataFrame(daten)

arbeitslos_neu_bereinigt

In [ ]:
arbeitslos_neu_bereinigt.info()

In [ ]:
arbeitslos_neu_bereinigt['Anzahl'] = (
    arbeitslos_neu_bereinigt['Anzahl']
    .astype(str)                # sicherstellen, dass es Strings sind
    .str.replace(',', '.', regex=False)  # Komma durch Punkt ersetzen
)
arbeitslos_neu_bereinigt

In [ ]:
# Datentypen ändern
cols = ['Jahr']
arbeitslos_neu_bereinigt[cols] = arbeitslos_neu_bereinigt[cols].apply(pd.to_numeric, errors='coerce').astype('Int64')

arbeitslos_neu_bereinigt.head()

In [ ]:
# Datentypen ändern
cols = ['Anzahl']
arbeitslos_neu_bereinigt[cols] = arbeitslos_neu_bereinigt[cols].apply(pd.to_numeric, errors='coerce').astype(float)

arbeitslos_neu_bereinigt.head()

In [ ]:
arbeitslos_neu_bereinigt.info()

In [ ]:
# Werte in Millionen konvertieren
arbeitslos_neu_bereinigt['Anzahl'] = arbeitslos_neu_bereinigt['Anzahl'] * 1000000
arbeitslos_neu_bereinigt.head()

In [ ]:
# Datentypen anpassen
cols = ['Anzahl']
arbeitslos_neu_bereinigt['Anzahl'] = pd.to_numeric(
    arbeitslos_neu_bereinigt['Anzahl'], errors='coerce'
).fillna(0).astype(int)

arbeitslos_neu_bereinigt.head()

In [ ]:
# Als CSV speischern
arbeitslos_neu_bereinigt.to_csv('arbeitlosen_nach_altergruppen_Monaten_2010_2025_Milli_.csv', index=False, sep=';', encoding='utf-8-sig')