In [ ]:
# Bibliotheke
import pandas as pd

In [ ]:
# CSV
befriste = pd.read_csv('Befristungsquoten_Altersgruppen_1992_2022.csv', delimiter=';', skiprows=4, encoding='utf-8-sig')

In [ ]:
# DF
befriste.head()

In [ ]:
befriste.drop(columns=['Unnamed: 0', 'Unnamed: 7', 'Unnamed: 13' ,'Unnamed: 14', 'Unnamed: 15' ,'Unnamed: 16', 'Unnamed: 17','Unnamed: 18' ,'Unnamed: 19','Unnamed: 20', 'Unnamed: 21'], inplace=True)
befriste.head()

In [ ]:
befriste.drop(index=1, inplace=True)
befriste.head()

In [ ]:
befriste.head(50)

In [ ]:
len(befriste)

In [ ]:
rows_delete = [
    i for i in range(35, len(befriste) + 1)
]

befriste.drop(index=rows_delete, inplace=True)

befriste.tail(20)

In [ ]:
befriste = befriste.applymap(lambda x: str(x).replace(",", "."))
befriste.head()

In [ ]:
befriste_copy = befriste.copy()

In [ ]:
befriste_copy.drop(index=[0, 2], inplace=True)
befriste_copy.head()

In [ ]:
befriste_frau = befriste_copy.drop(columns=['Unnamed: 8', 'Unnamed: 9',	'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'])
befriste_frau.head()

In [ ]:
# Spaltennamen umbenennen
befriste_frau = befriste_frau.rename(columns={
'Unnamed: 1': 'Jahr',
'Unnamed: 2': '15-25',
'Unnamed: 3': '25-35',
'Unnamed: 4': '35-45',
'Unnamed: 5': '45-55',
'Unnamed: 6': '55-65',
})

befriste_frau.head()

In [ ]:
# befriste_frau['Geschlecht'] = 'Frauen'
# befriste_frau.head()

befriste_frau.insert(
    loc=1,  # Indexposition, an der die Spalte eingefügt werden soll
    column='Geschlecht',
    value='Frauen')

In [ ]:
befriste_frau.head()

In [ ]:
befriste_frau.reset_index(drop=True, inplace=True)
befriste_frau.head()

In [ ]:
befriste_mann = befriste_copy.drop(columns=['Unnamed: 2', 'Unnamed: 3',	'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'])
befriste_mann.head()

In [ ]:
# Spaltennamen umbenennen
befriste_mann = befriste_mann.rename(columns={
'Unnamed: 1': 'Jahr',
'Unnamed: 8': '15-25',
'Unnamed: 9': '25-35',
'Unnamed: 10': '35-45',
'Unnamed: 11': '45-55',
'Unnamed: 12': '55-65',
})

befriste_mann.head()

In [ ]:
befriste_mann.insert(
    loc=1,  # Indexposition, an der die Spalte eingefügt werden soll
    column='Geschlecht',
    value='Männer')

befriste_mann.head()

In [ ]:
befriste_neu_bereinigt =  pd.concat([befriste_frau, befriste_mann], ignore_index=True)
display(befriste_neu_bereinigt.head(50))
display(befriste_neu_bereinigt.tail(50))

In [ ]:
befriste_neu_bereinigt['Jahr'] = pd.to_numeric(befriste_neu_bereinigt['Jahr'], errors='coerce').astype(int)

In [ ]:
befriste_neu_bereinigt.info()

In [ ]:
befriste_neu_bereinigt[['15-25', '25-35', '35-45', '45-55', '55-65']] = befriste_neu_bereinigt[['15-25', '25-35', '35-45', '45-55', '55-65']].apply(pd.to_numeric, errors='coerce').astype(float)
befriste_neu_bereinigt.info()

In [ ]:
altergruppen = ['15-25', '25-35', '34-45', '45-55', '55-65']

In [ ]:
for col in altergruppen:
    befriste_neu_bereinigt[col] = befriste_neu_bereinigt[col].apply(lambda x: f'{str(x).replace(".", ",")}')

In [ ]:
# Als CSV speischern
# befriste_neu_bereinigt.to_excel('Befristungsquoten_Altersgruppen_1992_2022_v2_.xlsx', index=False)

In [ ]:
befriste_neu_bereinigt.to_csv('Befristungsquoten_Altersgruppen_1992_2022_v2_.csv', sep=';', index=False, encoding='utf-8-sig')